<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DataGreen.My.MySettings.DataGreenConnectionString"
      connectionString="Data Source=192.168.30.99\MSSQLSERVER17;Initial Catalog=DataGreen;User ID=sa;Password=A20200211sj"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.windows.forms jitDebugging="true" />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>